// h1 .comedy {
//     font-family: Kanit;
//     font-size: 36px;
//     font-weight: 500;
//     line-height: 53.82px;
//     text-align: left;

//     height: 54px;
//     top: 170px;
//     left: 89px;
//     gap: 0px;
//     opacity: 0px;
//     color: #F5EFEF;
// }

// .left-h1{
//     color: #DCD6D6;
// }
.home.thewalkingdead.img-walking{
    width: 618px;
    height: 363px;
    top: 535px;
    left: 708px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;
    background-color: aliceblue;
    
   
}
    
