body{
    padding: 5px 10px 5px 10px;
}

li {
    list-style: none;
    color: white;
}

li a {
    text-decoration: none;
    color: white;
}

.nav-menu .right li a {
    width: 90px;
    height: 37px;
    font-family: "Kanit";
    font-size: 25px;
    font-weight: 400;
    line-height: 37.38px;
}
.nav-menu .right {
    width: Hug (72px) px;
    height: Hug (37px) px;
    gap: 10px;
    opacity: 0px;
}
.left-h1{
    color: #DCD6D6;
}

